@import "reset.css";
@import "coffee-tea/stylesheet.css";
@import "throw/stylesheet.css";
/* I like the breakpoint shortcodes from https://codepen.io/ericrasch/pen/HzoEx */
/* Project specific breakpoint shortcodes */
/*
 * General styles 
 */
body {
  margin: 0;
  font-family: "coffee+teademo-Regular", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  overflow-x: hidden;
  /*
	 * Why such an interesting line-height?  Because the photos on the bio page
	 * are different heights and I didn't have time to mess around with them.  This
	 * minimizes the amount of white-space at the bottom of the photos on the
	 * desktop breakpoint.
	 */
  line-height: 1.32;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ThrowMyHandsUpintheAir-Bold", "Sophie", "Helvetica", "Arial", sans-serif;
}
h2 {
  font-size: 2em;
  margin: 0 0 1em 0;
}
h3 {
  margin: 3em 0 1em 0;
}
i,
em {
  display: inline-flex;
  transform: skewX(-10deg);
}
p {
  margin-bottom: 2.5vmin;
}
a {
  color: #000077;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#banner {
  height: 90px;
  overflow: visible;
}
@media only screen and (max-width: 860px) {
  #banner {
    position: absolute;
    left: 50%;
    margin-left: -287.5px;
    clip: rect(0 95vw 400px 0);
  }
  #banner .wonderland {
    transform: scale(1.2) translate3d(-2630px, 407px, 0);
  }
}
@media only screen and (max-width: 600px) {
  #banner {
    width: 139vw;
    left: 2.5vw;
    margin-left: 0;
  }
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 5.5em;
  padding: 0 0.8em;
  text-align: center;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: solid 1px transparent;
}
@media only screen and (max-width: 860px) {
  header {
    height: 8.6em;
  }
}
@media only screen and (max-width: 529px) {
  header {
    height: 8em;
  }
}
header .nav-logo {
  height: 0.9em;
}
nav {
  position: absolute;
  width: calc(100vw - 0.8em * 2);
  bottom: 0.1em;
  z-index: 10;
  opacity: 0;
}
nav ul {
  width: 100vw;
  text-align: center;
}
nav li {
  display: inline-block;
  margin-right: 4vw;
}
nav li.social {
  margin-right: 0.3em;
  transform: translateY(0.2em);
}
nav li:last-child {
  margin-right: 0;
}
nav .mobile-nav {
  display: none;
}
@media only screen and (max-width: 529px) {
  nav .mobile-nav {
    display: inherit;
  }
}
@media only screen and (max-width: 529px) {
  nav .desktop-nav {
    display: none;
  }
}
/*
 * Page specific styles
 */
[data-href]:not([data-href="home"]) .bug {
  display: none;
}
[data-href="about"] #content {
  text-shadow: 2px 2px 2px #fff, -2px -2px 2px #fff;
}
[data-href="about"] #content:before,
[data-href="about"] #content:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
  transition: opacity 250ms ease-in-out 100ms;
  z-index: -1;
}
[data-href="about"] #content.show:before,
[data-href="about"] #content.show:after {
  display: block;
  opacity: 0;
}
[data-href="about"] #content.hide:before,
[data-href="about"] #content.hide:after {
  opacity: 0.21;
  display: none;
}
[data-href="about"] #content:before {
  background: url(../images/janet-800.svgz) no-repeat 10vw bottom;
  top: -10vh;
  background-size: auto 50vmin;
}
[data-href="about"] #content:after {
  background: url(../images/charles-800.svgz) no-repeat right 10vh;
  background-size: auto 50vmin;
}
@media only screen and (max-width: 860px) {
  [data-href="about"] #content:after {
    top: 4.3em;
  }
}
[data-href="dates-times"] {
  text-align: center;
}
[data-href="dates-times"] .logo {
  height: 4em;
  margin-bottom: 1em;
}
[data-href="contact"] main {
  text-align: center;
}
[data-href="contact"] main ul {
  display: inline-block;
  text-align: left;
  line-height: 1.7;
}
[data-href="contact"] main .nav-logo {
  height: 0.9em;
}
/*
 * home demo
 */
.home__demo--character {
  position: absolute;
  transform: translateZ(0);
  opacity: 0;
  pointer-events: none;
}
.home__demo .swirl {
  width: 100vh;
  top: -20vh;
  left: 50%;
  margin-left: -50vh;
  transform-origin: 50% 60%;
}
.home__demo .charles {
  position: absolute;
  width: 40vh;
  top: 0;
  left: 0;
}
.home__demo .charles-container {
  display: inline-block;
  /* left: ~'42@{museum-height-unit}';
		top: ~'30@{museum-height-unit}'; */
  top: 0;
  left: 0;
  width: 40vh;
  transform: translate3d(25vw, 30vh, 0);
}
.home__demo .janet {
  width: 30vh;
  left: 0;
  top: 0;
  transform: translate3d(20vw, 45.5vh, 0);
}
.museum {
  position: absolute;
  top: 0;
  left: 50vw;
  margin-left: -31vh;
  clip: rect(2px 100vw 100vh 0);
}
.museum img {
  height: 80vh;
  margin: 0 auto;
}
.loaded {
  /*
	 * Header and Footer are controlled by transitions
	 */
  /*
	 * Banner animation
	 */
}
.loaded header {
  border-bottom: solid 1px black;
  background-color: rgba(255, 255, 255, 0.6);
}
.loaded nav {
  opacity: 1;
}
.loaded footer {
  opacity: 1;
}
.loaded[data-href="home"] {
  /*
		 * The rest are controlled by animations
		 */
}
.loaded[data-href="home"] header {
  transition: border-bottom ease-in-out 2s 8s, background-color ease-in-out 2s 8s;
}
.loaded[data-href="home"] nav {
  transition: opacity 2s ease-in-out 8s;
}
.loaded[data-href="home"] footer {
  transition: opacity 2s ease-in-out 8s;
}
.loaded[data-href="home"] .museum {
  animation: fade-in ease-in-out 2s 3s forwards;
}
.loaded[data-href="home"] .janet {
  animation: fade-in ease-in-out 2s forwards, move-janet ease-in-out 2s 6s forwards;
}
.loaded[data-href="home"] .charles-container {
  animation: fade-in ease-in-out 2s forwards, move-charles ease-in-out 2s 2s forwards, move-charles2 ease-in-out 2s 6s forwards;
}
.loaded[data-href="home"] .charles-container .arms-up {
  opacity: 0;
  animation: appear linear 0.1ms 2s forwards;
}
.loaded[data-href="home"] .charles-container .arms-down {
  opacity: 1;
  animation: disappear linear 0.1ms 2s forwards;
}
.loaded[data-href="home"] .home__demo .swirl {
  animation: fade-in ease-in-out 2s 2s forwards, swirl linear 5s 2s 2, fade-out ease-in-out 2s 6s forwards, disappear linear 0.1ms 8s forwards;
}
.loaded #banner .path {
  animation: dash 400ms linear forwards;
  animation-delay: 2000s;
}
.loaded #banner .mentor-me-through-this .path:nth-child(1) {
  animation-delay: 0ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(2) {
  animation-delay: 200ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(3) {
  animation-delay: 400ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(4) {
  animation-delay: 600ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(5) {
  animation-delay: 800ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(6) {
  animation-delay: 1000ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(7) {
  animation-delay: 1200ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(8) {
  animation-delay: 1400ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(9) {
  animation-delay: 1600ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(10) {
  animation-delay: 1800ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(11) {
  animation-delay: 2000ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(12) {
  animation-delay: 2200ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(13) {
  animation-delay: 2400ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(14) {
  animation-delay: 2600ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(15) {
  animation-delay: 2800ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(16) {
  animation-delay: 3000ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(17) {
  animation-delay: 3200ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(18) {
  animation-delay: 3400ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(19) {
  animation-delay: 3600ms;
}
.loaded #banner .mentor-me-through-this .path:nth-child(20) {
  animation-delay: 3800ms;
}
.loaded #banner .wonderland .path:nth-child(1) {
  animation-delay: 4000ms;
}
.loaded #banner .wonderland .path:nth-child(2) {
  animation-delay: 4200ms;
}
.loaded #banner .wonderland .path:nth-child(3) {
  animation-delay: 4400ms;
}
.loaded #banner .wonderland .path:nth-child(4) {
  animation-delay: 4600ms;
}
.loaded #banner .wonderland .path:nth-child(5) {
  animation-delay: 4800ms;
}
.loaded #banner .wonderland .path:nth-child(6) {
  animation-delay: 5000ms;
}
.loaded #banner .wonderland .path:nth-child(7) {
  animation-delay: 5200ms;
}
.loaded #banner .wonderland .path:nth-child(8) {
  animation-delay: 5400ms;
}
@keyframes swirl {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes swirl-move-in-place {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(0deg) scaleX(1) scaleY(1);
  }
  100% {
    opacity: 0;
    transform: translate3d(13vh, 9vh, 0) rotate(0deg) scaleX(0.19) scaleY(0.26);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 42 30 */
@keyframes move-charles {
  0% {
    transform: translate3d(25vw, 30vh, 0);
  }
  100% {
    transform: translate3d(45vw, 15vh, 0);
  }
}
@keyframes move-charles2 {
  0% {
    transform: translate3d(45vw, 15vh, 0);
  }
  100% {
    transform: translate3d(calc(50vw + -9.5vh), 44.5vh, 0) scale(0.55);
  }
}
@keyframes move-janet {
  100% {
    transform: translate3d(calc(50vw + -13vh), 48.5vh, 0) scale(0.41);
  }
}
/*
 * Logos
 */
.logos {
  position: absolute;
  top: 81vh;
  text-align: center;
  width: 100%;
}
.logos li {
  display: inline-block;
  margin-right: 1vw;
}
.logos li:last-child {
  margin-right: 0;
}
.logos img {
  height: 7vh;
}
footer {
  opacity: 0;
}
.coming-soon {
  font-size: 3vh;
  margin-bottom: 1vh;
}
.previous-productions {
  position: absolute;
  top: 92vh;
  width: 100vw;
  text-align: center;
}
/* 
 * Bio page
 */
.bio__entry {
  border-bottom: solid 1px black;
  margin-bottom: 3vmin;
}
.bio__pic {
  float: left;
  margin: 0 0.5em 0.5em 0;
  width: 265px;
}
@media only screen and (max-width: 529px) {
  .bio__pic {
    float: none;
    width: 90vw;
    margin: 0 auto 0.5em auto;
  }
}
.bio__entry:nth-child(2n) .bio__pic {
  float: right;
  margin: 0 0 1vmin 1vmin;
}
@media only screen and (max-width: 529px) {
  .bio__entry:nth-child(2n) .bio__pic {
    float: none;
    margin: 0 auto 0.5em auto;
  }
}
.bio__entry:after {
  content: "";
  display: table;
  clear: both;
}
/*
 * Animation stuff
 */
#content.hide {
  animation: turn-off 500ms ease-in-out;
}
#content.show {
  animation: turn-on 500ms ease-in-out;
}
[data-href]:not([data-href="home"]) #content {
  max-width: 1024px;
  margin: 6.5em auto 0 auto;
  padding: 0 0.8em;
}
@media only screen and (max-width: 860px) {
  [data-href]:not([data-href="home"]) #content {
    margin-top: 9.6em;
  }
}
@media only screen and (max-width: 529px) {
  [data-href]:not([data-href="home"]) #content {
    margin-top: 9em;
  }
}
@keyframes turn-off {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 50vw, 0);
  }
}
@keyframes turn-on {
  0% {
    opacity: 0;
    transform: translate3d(0, -50vw, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/*
 * Banner SVG
 */
.path {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  fill: rgba(0, 0, 0, 0);
  stroke: #000000;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke-width: 4;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  transform: translateZ(0);
  will-change: stroke-dashoffset, fill;
}
.path.animation-done {
  will-change: auto;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 3000;
    fill: #ffffff;
  }
  80% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #000000;
  }
}
