@import "reset.css";
@import "coffee-tea/stylesheet.css";
@import "throw/stylesheet.css";

@museum-height-unit: 'vh';

/* I like the breakpoint shortcodes from https://codepen.io/ericrasch/pen/HzoEx */
@mobile-mq:	~"only screen and (max-width: 529px)";

/* Project specific breakpoint shortcodes */
@break-banner-mq: ~"only screen and (max-width: 860px)";
@banner-scale-mq: ~"only screen and (max-width: 600px)";

@desktop-header-height: 5.5em;
@break-banner-header-height: 8.6em;
@mobile-header-height: 8em;

@copy-padding: 0.8em;


/*
 * General styles 
 */
body {
	margin: 0;
	font-family: "coffee+teademo-Regular", "Helvetica", "Arial", sans-serif;
	font-size: 1.5em;
	overflow-x: hidden;
	
	/*
	 * Why such an interesting line-height?  Because the photos on the bio page
	 * are different heights and I didn't have time to mess around with them.  This
	 * minimizes the amount of white-space at the bottom of the photos on the
	 * desktop breakpoint.
	 */
	line-height: 1.32;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "ThrowMyHandsUpintheAir-Bold", "Sophie", "Helvetica", "Arial", sans-serif;
}

h2 {
	font-size: 2em;
	margin: 0 0 1em 0;
}

h3 {
	margin: 3em 0 1em 0;
}

i, em {
	display: inline-flex;
	transform: skewX(-10deg);
}

p {
	margin-bottom: 2.5vmin;
}

a {
	color: #000077;
	font-weight: bold;
	text-decoration: none;
	
	
	&:hover {
		text-decoration: underline;
	}
}


#banner {
	@banner-height: 90px;
	height: @banner-height;
	overflow: visible;
	
	@media @break-banner-mq {
		@banner-width: 575px;
		
		position: absolute;
		left: 50%;
		margin-left: -@banner-width / 2;
		clip: rect(0 95vw 400px 0);
		
		.wonderland {
			transform: scale(1.2) translate3d(-2630px, 407px, 0)
		}
	}
	
	@media @banner-scale-mq {
		width: 139vw;
		left: 2.5vw;
		margin-left: 0;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

header {
	position: absolute;
	top: 0;
	width: 100vw;
	height: @desktop-header-height;
	padding: 0 @copy-padding;
	text-align: center;
	z-index: 10;
	background-color: rgba(255, 255, 255, 0);
	border-bottom: solid 1px transparent;
	
	@media @break-banner-mq {
		height: @break-banner-header-height;
	}
	
	@media @mobile-mq {
		height: @mobile-header-height;
	}
	
	
	.nav-logo {
		height: 0.9em;
	}
}

nav {
	position: absolute;
	width: calc(~"100vw - @{copy-padding} * 2");
	bottom: 0.1em;
	z-index: 10;
	opacity: 0;
	
	ul {
		width: 100vw;
		text-align: center;
	}

	li {
		display: inline-block;
		margin-right: 4vw;
		
		&.social {
			margin-right: 0.3em;
			transform: translateY(0.2em);
		}
	
		&:last-child {
			margin-right: 0;
		}
	}
	
	.mobile-nav {
		display: none;
		
		@media @mobile-mq {
			display: inherit;
		}
	}
	
	.desktop-nav {
		@media @mobile-mq {
			display: none;
		}
	}
}

/*
 * Page specific styles
 */

[data-href]:not([data-href="home"]) {
  .bug {
    display: none;
  }
}

[data-href="about"] #content{
	text-shadow: 
		2px 2px 2px #fff,
		-2px -2px 2px #fff;
	
	&:before, &:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		opacity: 0.2;
		transition: opacity 250ms ease-in-out 10ms;
		z-index: -1;
		}
	
	&.show {
		&:before, &:after {
			display: block;
			opacity: 0;
		}
	}
	
	&.hide {
		&:before, &:after {
			display: none;
		}
	}
	
	&:before {
		background: url(../images/janet-800.svgz) no-repeat 10vw bottom;
		top: -10vh;
		background-size: auto 50vmin;
	}
	
	&:after {
		background: url(../images/charles-800.svgz) no-repeat right 10vh;
		
		background-size: auto 50vmin;
		
		@media @break-banner-mq {
			top: @break-banner-header-height / 2;
		}
	}
	
}

[data-href="dates-times"] {
	text-align: center;
	
	.logo {
		height: 4em;
		margin-bottom: 1em;
	}
}

[data-href="contact"] {
	
	main {
		text-align: center;
		
		ul {
			display: inline-block;
			text-align: left;
			line-height: 1.7;
		}
		
		.nav-logo {
			height: 0.9em;
		}
	}
}

/*
 * home demo
 */
.home__demo {
	
	&--character {
		position: absolute;
		transform: translateZ(0);
		opacity: 0;
		pointer-events: none;
	}
	
	.swirl {
		width: ~'100@{museum-height-unit}';
		top: ~'-20@{museum-height-unit}';
		left: 50%;
		margin-left: ~'-50@{museum-height-unit}';
		transform-origin: 50% 60%;
	}
	
	.charles {
		position: absolute;
		width: ~'40@{museum-height-unit}';
		top: 0;
		left: 0;
	}
	
	.charles-container {
		display: inline-block;
		/* left: ~'42@{museum-height-unit}';
		top: ~'30@{museum-height-unit}'; */
		top: 0;
		left: 0;
		width: ~'40@{museum-height-unit}';
		transform: translate3d(25vw, ~'30@{museum-height-unit}', 0);
		
	}
	
	
	.janet {
		width: ~'30@{museum-height-unit}';
		left: 0;
		top: 0;
		transform: translate3d(20vw, ~'45.5@{museum-height-unit}', 0);
	}
}


.museum {
	position: absolute;
	top: 0;
	left: 50vw;
	margin-left: ~'-31@{museum-height-unit}';
	clip: rect(2px 100vw 100vh 0); 

	img {
		height: ~'80@{museum-height-unit}';
		margin: 0 auto;
	}
}

.loaded {
	

	/*
	 * Header and Footer are controlled by transitions
	 */
	header {
		border-bottom: solid 1px black;
		background-color: rgba(255, 255, 255, 0.6);
	}
	
	nav {
		opacity: 1;
	}
	
	footer {
		opacity: 1;
	}
		
	&[data-href="home"] {
		header {
			transition: 
				border-bottom ease-in-out 2s 8s,
				background-color ease-in-out 2s 8s;
		}
		
		nav {
			transition: opacity 2s ease-in-out 8s;
		}
		
		footer {
			transition: opacity 2s ease-in-out 8s;
		}
		/*
		 * The rest are controlled by animations
		 */
		
		.museum {
			animation: fade-in ease-in-out 2s 3s forwards;
		}
		
		.janet {
			animation: 
				fade-in ease-in-out 2s forwards,
				move-janet ease-in-out 2s 6s forwards;
		}
		
		.charles-container {
			animation:
				fade-in ease-in-out 2s forwards,
				move-charles ease-in-out 2s 2s forwards,
				move-charles2 ease-in-out 2s 6s forwards;
		}
		
		.charles-container .arms-up {
			opacity: 0;
			animation: appear linear 0.1ms 2s forwards;
		}
		
		.charles-container .arms-down {
			opacity: 1;
			animation: disappear linear 0.1ms 2s forwards;
		}
		
		.home__demo .swirl {
			animation: 
				fade-in ease-in-out 2s 2s forwards,
				swirl linear 5s 2s 2,
				fade-out ease-in-out 2s 6s forwards,
				disappear linear 0.1ms 8s forwards;
		}
		
	}
	/*
	 * Banner animation
	 */
	
	#banner {
		.path {
			animation: dash 400ms linear forwards;
			animation-delay: 2000s;
		}
		
		.generate-banner-anims(@from, @counter, @delay) when (@counter >= @from) {
			.generate-banner-anims(@from, @counter - 1, @delay); // next iteration
			
			.path:nth-child(@{counter}) {
				animation-delay: (200ms * (@counter - 1) + @delay);
			}
		}
		
		.mentor-me-through-this {
		  .generate-banner-anims(1, 20, 0);
		}
		
		.wonderland {
		  .generate-banner-anims(1, 8, 4000);
		}
	}
	
}

@keyframes swirl {
	0% {
	transform: rotate(0deg);
	}
	100% {
	transform: rotate(360deg);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@keyframes swirl-move-in-place {
	
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0) rotate(0deg) scaleX(1) scaleY(1);
	}
	
	100% {
		opacity: 0;
		transform: translate3d(~'13@{museum-height-unit}', ~'9@{museum-height-unit}', 0) rotate(0deg) scaleX(0.19) scaleY(0.26);
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@keyframes disappear {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* 42 30 */
@keyframes move-charles {
	0% {
		transform: translate3d(25vw, ~'30@{museum-height-unit}', 0);
	}
	
	100% {
		transform: translate3d(45vw, ~'15@{museum-height-unit}', 0);
	}
}

@keyframes move-charles2 {
	0% {
		transform: translate3d(45vw, ~'15@{museum-height-unit}', 0);
	}
	100% {
		transform: translate3d( ~'calc(50vw + -9.5@{museum-height-unit})', ~'44.5@{museum-height-unit}', 0) scale(0.55);
	}
}

@keyframes move-janet {
	100% {
		transform: translate3d( ~'calc(50vw + -13@{museum-height-unit})', ~'48.5@{museum-height-unit}', 0) scale(0.41);
	}
}

/*
 * Logos
 */
.logos {
	position: absolute;
	top: ~'81@{museum-height-unit}';
	text-align: center;
	width: 100%;
	
	li {
		display: inline-block;
		margin-right: 1vw;
	}
	
	li:last-child {
		margin-right: 0;
	}
	
	img {
		height: ~'7@{museum-height-unit}';
	}

}

footer {
	opacity: 0;
}



.coming-soon {
	font-size: ~'3@{museum-height-unit}';
	margin-bottom: ~'1@{museum-height-unit}';
}


.previous-productions {
	position: absolute;
	top: ~'92@{museum-height-unit}';
	width: 100vw;
	text-align: center;
}


/* 
 * Bio page
 */
.bio {
	&__entry {
		border-bottom: solid 1px black;
		margin-bottom: 3vmin;
	}
	
	&__pic {
		float: left;
		margin: 0 0.5em 0.5em 0;
		width: 265px;
		
		@media @mobile-mq {
			float: none;
			width: 90vw;
			margin: 0 auto 0.5em auto;
			
		}
	}
	
	
	&__entry:nth-child(2n) .bio__pic {
		float: right;
		margin: 0 0 1vmin 1vmin;
		
		@media @mobile-mq {
			float: none;
			margin: 0 auto 0.5em auto;
			
		}
	}
	
	&__entry:after {
		content: "";
		display: table;
		clear: both;
	}
}


/*
 * Animation stuff
 */

#content {
	&.hide {
		animation: turn-off 500ms ease-in-out;
	}
	
	&.show {
		animation: turn-on 500ms ease-in-out;
	}
	
	[data-href]:not([data-href="home"]) & {
		
		max-width: 1024px;
		margin: (@desktop-header-height + 1) auto 0 auto;
		padding: 0 @copy-padding;
	
	
	
		@media @break-banner-mq {
			margin-top: (@break-banner-header-height + 1);
		}
		
		@media @mobile-mq {
			margin-top: (@mobile-header-height + 1);
		}
	}
}

@keyframes turn-off {
	0% {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	}
	100% {
	opacity: 0;
	transform: translate3d(0, 50vw, 0);
	}
}

@keyframes turn-on {
	0% {
	opacity: 0;
	transform: translate3d(0, -50vw, 0);
	}
	100% {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	}
}


/*
 * Banner SVG
 */


.path {
	stroke-dasharray: 3000;
	stroke-dashoffset: 3000;
	fill: rgba(0, 0, 0, 0);
	stroke: #000000;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke-width: 4;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	transform: translateZ(0);
	will-change: stroke-dashoffset, fill;
	
	&.animation-done {
		will-change: auto;
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: 3000;
		fill: #ffffff;
	}
	80% {
		stroke-dashoffset: 0;
		fill: #ffffff;
	}
	
	100% {
		stroke-dashoffset: 0;
		fill: #000000;
	}
}